.about_section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
}

/* LINHA*/
.about_section::before{
    display: flex; 
    background-color: #5050505e;
    content: "";
    height: 1px;
    position: relative;
    width: 40%;
    margin-bottom: 28px; 
}

.about_text-content{
    display: flex;
    flex-direction: row;
    color: #141414;
    gap: 10px;
    position: relative;
    margin-bottom: 50px;
    .about_section-title {
        font-size: 6.5rem;
        text-align: right;
        position: relative;
        left: -90px;
    }

    .about_section-paragrapher{
        position: relative;
        bottom: -140px;
        right: -170px;
        max-width: 520px;

    }
}

.about_images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;

}    .about_card-image{
    width: 261px;
    height: 380px;
    border-radius: 20px;
}    