@import url('https://fonts.googleapis.com/css2?family=Delius&family=Notable&display=swap');

.header_section{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 5px;
    border-bottom: 1px solid #141414;
}

.navbar_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.navbar_span{
    font-weight: 800;
    font-size: 1.8rem;
    color: #141414;
    font-family: "Notable", serif;
    font-weight: 400;
}

.navbar_li{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.navbar_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #141414;
    letter-spacing: 0.1rem;
    background-color: transparent;
    font-weight: 500;
    font-size: 1rem;
    /* border: 1px solid #141414; */
    border: none;
    padding: 7px 25px;
}

.navbar_button:hover{
    color: #505050;
    cursor: pointer;
    border-bottom: 0.5px solid #505050;    
}