#root {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #D9C7B8;
  border: 40px solid #141414;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
